* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* HEADER */
.header{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.header h1 {
    color: red;
}

.header button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

body {
    background-color: gray;
}

/* CARD */
.card {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    opacity: 0;
    visibility: hidden;
}

.card:hover .card-overlay {
    opacity: 1;
    visibility: visible;
}

.card-content {
    padding: 10px;
    overflow: scroll;
}

.card-content img {
    width: 20px;
}

.card-overview {
    font-size: 0.8rem;
}

.mb-5 {
    margin-bottom: 5px;
}

/* CARD GRID */
.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 20px 0;
}

/* STARS */
.full-star {
    color: gold;
}

.empty-star {
    color: lightgray;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        margin: 15px;
    }
}

@media screen and (max-width: 425px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
        margin: 10px;
    }
}